@page "/calc"

<PageTitle>Calculator</PageTitle>

<h1>Calculator</h1>

<table>
    <tr>
        <td colspan="4">res: @value</td>
    </tr>
    <tr>
        <td colspan="4"><input style="width:215px;" @bind="value"/></td>
    </tr>
    <tr>
        <td colspan="2">
            <button @onclick="Compute" style="width:105px; background: black" class="btn btn-primary">=</button>
        </td>
        <td><button @onclick="Backspace" style="width:50px" class="btn btn-primary">←</button></td>
        <td><button @onclick="ClearAll" style="width:50px" class="btn btn-primary">CA</button></td>
    </tr>
    <tr>
        <td><button @onclick="() => Append('+')" style="width:50px; background: black" class="btn btn-primary">+</button></td>
        <td><button @onclick="() => Append('7')" style="width:50px" class="btn btn-primary">7</button></td>
        <td><button @onclick="() => Append('8')" style="width:50px" class="btn btn-primary">8</button></td>
        <td><button @onclick="() => Append('9')" style="width:50px" class="btn btn-primary">9</button></td>
    </tr>
    <tr>
        <td><button @onclick="() => Append('-')" style="width:50px; background: black" class="btn btn-primary">-</button></td>
        <td><button @onclick="() => Append('4')" style="width:50px" class="btn btn-primary">4</button></td>
        <td><button @onclick="() => Append('5')" style="width:50px" class="btn btn-primary">5</button></td>
        <td><button @onclick="() => Append('6')" style="width:50px" class="btn btn-primary">6</button></td>
    </tr>
    <tr>
        <td><button @onclick="() => Append('*')" style="width:50px; background: black" class="btn btn-primary">*</button></td>
        <td><button @onclick="() => Append('1')" style="width:50px" class="btn btn-primary">1</button></td>
        <td><button @onclick="() => Append('2')" style="width:50px" class="btn btn-primary">2</button></td>
        <td><button @onclick="() => Append('3')" style="width:50px" class="btn btn-primary">3</button></td>
    </tr>
    <tr>
        <td><button @onclick="() => Append('/')" style="width:50px; background: black" class="btn btn-primary">/</button></td>
        <td><button @onclick="() => Append('0')" style="width:50px" class="btn btn-primary">0</button></td>
        <td><button @onclick="() => Append('.')" style="width:50px" class="btn btn-primary">.</button></td>
        <td><button @onclick="() => ChangeSign()" style="width:50px" class="btn btn-primary">+/-</button></td>
    </tr>
</table>

@code {
    string value = "0";
    private void Compute()
    {
        value = $"{ShuntingYard.Execute(value)}";
    }
    private void Backspace()
    {
        value = value[0..(value.Length-1)];
    }
    private void ClearAll()
    {
        value = "0";
    }
    private void ChangeSign()
    {
        if(value[0] == '-')
        {
            value = value[1..];
        }
        else
        {
            value = "-" + value;
        }
    }
    private void Append(char ch)
    {
        value += ch;
    }
}

