@page "/calc"

<PageTitle>Calculator</PageTitle>

<h1>Calculator</h1>

<table>
    <tr>
        <td colspan="4">res: @value</td>
    </tr>
    <tr>
        <td colspan="4"><input style="width:215px;" /></td>
    </tr>
    <tr>
        <td colspan="2">
            <button style="width:105px; background: black" class="btn btn-primary">=</button>
        </td>
        <td><button style="width:50px" class="btn btn-primary">←</button></td>
        <td><button style="width:50px" class="btn btn-primary">CA</button></td>
    </tr>
    <tr>
        <td><button style="width:50px; background: black" class="btn btn-primary">+</button></td>
        <td><button style="width:50px" class="btn btn-primary">7</button></td>
        <td><button style="width:50px" class="btn btn-primary">8</button></td>
        <td><button style="width:50px" class="btn btn-primary">9</button></td>
    </tr>
    <tr>
        <td><button style="width:50px; background: black" class="btn btn-primary">-</button></td>
        <td><button style="width:50px" class="btn btn-primary">4</button></td>
        <td><button style="width:50px" class="btn btn-primary">5</button></td>
        <td><button style="width:50px" class="btn btn-primary">6</button></td>
    </tr>
    <tr>
        <td><button style="width:50px; background: black" class="btn btn-primary">*</button></td>
        <td><button style="width:50px" class="btn btn-primary">1</button></td>
        <td><button style="width:50px" class="btn btn-primary">2</button></td>
        <td><button style="width:50px" class="btn btn-primary">3</button></td>
    </tr>
    <tr>
        <td><button style="width:50px; background: black" class="btn btn-primary">/</button></td>
        <td><button style="width:50px" class="btn btn-primary">0</button></td>
        <td><button style="width:50px" class="btn btn-primary">,</button></td>
        <td><button style="width:50px" class="btn btn-primary">+/-</button></td>
    </tr>
</table>

@code {
    string value = "0";
}
