@page "/favlinks"

<h3>Favourite Links</h3>

<table>
    <tr>
        <th>Search engines:</th>
        <td>
            <a href="https://www.google.com/">Google</a>
            <a href="https://duckduckgo.com/">DuckDuckGo</a>
            <a href="https://search.yahoo.com/">Yahoo search</a>
        </td>
    </tr>
    <tr>
        <th>News sites:</th>
        <td>
            <a href="https://www.svt.se/">SVT Nyheter</a>
            <a href="https://sverigesradio.se/nyheter">Sveriges Radio</a>
            <a href="https://edition.cnn.com/">CNN</a>
            <a href="https://www.bbc.com/news">BBC</a>
        </td>
    </tr>
</table>

@code {

}

