@page
@model d12ASPNETApp.Pages.NewRazorPageModel
@{
}

<div class="text-center">
    <h1 class="display-4">Nyheterna</h1>
    <p>Radionyheter <a href="http://sverigesradio.se">Sveriges Radio</a>.</p>
</div>
